/* Override calendar background colour */
.fc-theme-bootstrap5-shaded {
    background-color: var(--bs-gray-600);
}
.fc:hover .fc-list-event:hover td {
    background-color: #7f7f7f !important;
}

/* Login Page */
.login-page {
    height: 100%;
}
.login-page>body {
    display: flex;
}
.login-form {
    max-width: 400px;
    margin: auto;
}

/* Shift Card */
.shift-card {
    max-width:350px;
}