{% extends "layout/master_layout.html" %}
{% from "components/form_elements.html" import render_form_field %}

{% block content %}

<div class="row text-center">
    <div class="col-md-6 col-12 mx-auto mt-2">
        <form method="post" class="text-start">
            {{ form.hidden_tag() }}

            {{ render_form_field(form.title) }}
            {{ render_form_field(form.start_date_time) }}
            {{ render_form_field(form.end_date_time) }}

            <div class="d-flex justify-content-evenly">
                <input type="submit" class="btn btn-sm btn-primary" style="width: 125px" value="Update">
                <a class="btn btn-sm btn-danger" style="width: 125px"
                    href="{{ url_for('user.delete_unavailability', id=id) }}">Delete</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}